
.votingapi_choice_field { 
    padding-bottom: 4px;
}

.votingapi_choice_field_graph_border {
    border: 1px solid black;
}

.votingapi_choice_field_graph { 
    background-color:lightblue; 
    width:$w%;
}

.votingapi_score_field {
    border:1px solid black; 
    font-size:2em; 
    padding:12px; 
    width: 0.9em;
}
    

.votingapi_rating_field {
    border:1px solid black; 
    font-size:2em; 
    padding:12px; 
    width: 0.9em;
}

.votingapi_percent_field {
    border:1px solid black; 
    font-size:2em; 
    padding:12px; 
    width: 2em;
}
